<table class="table schedule" style="max-width: 100%">
  <thead>
    {{- /* Use a proper thead for the header row for better HTML semantics */}}
    <tr>
      <td style="width: 5%; text-align: center" class="mid-table-header">
        Week
      </td>
      <td style="width: 10%; text-align: left" class="mid-table-header">
        Date
      </td>
      <td style="width: 15%; text-align: left" class="mid-table-header">
        Title
      </td>
      <td style="width: 20%; text-align: left" class="mid-table-header">
        Readings
      </td>
      <td style="width: 10%; text-align: left" class="mid-table-header">
        Assignment
      </td>
      <td style="width: 10%; text-align: center" class="mid-table-header">
        Due Date
      </td>
      <td style="width: 15%; text-align: center" class="mid-table-header">
        Materials
      </td>
    </tr>
  </thead>
  <tbody>
    {{- range .Site.Data.schedule.lessons }} {{- if not .header }} {{/* We skip
    header entries in the body */}}
    <tr>
      <td align="center">{{ .weeknum }}</td>

      <td align="left">{{ dateFormat "Aug 11" .date }}</td>

      <td style="text-align: left">{{ .title | markdownify }}</td>

      <td style="text-align: left">
        {{- if .readings }}
        <ul style="list-style-type: none; margin: 0; padding: 0">
          {{- range .readings }}
          <li>
            {{- if .link -}}
            <a href="{{ .link }}">{{ .name | markdownify }}</a>
            {{- else -}} {{ .name | markdownify }} {{- end -}}
          </li>
          {{- end }}
        </ul>
        {{- end }}
      </td>

      <td style="text-align: left">
        {{- if .assignments }}
        <ul style="list-style-type: none; margin: 0; padding: 0">
          {{- range .assignments }}
          <li>
            {{- if .link -}}
            <a href="{{ $.Site.BaseURL }}/problemsets/{{ .link }}"
              >{{ .name | markdownify }}</a
            >
            {{- else -}} {{ .name | markdownify }} {{- end -}}
          </li>
          {{- end }}
        </ul>
        {{- end }}
      </td>

      <td align="center">
        {{- if .assignments }}
        <ul style="list-style-type: none; margin: 0; padding: 0">
          {{- range .assignments }} {{- if .due }}
          <li>{{ dateFormat "Aug 11" .due }}</li>
          {{- else }}
          <li>-</li>
          {{- end }} {{- end }}
        </ul>
        {{- end }}
      </td>

      <td align="center">
        {{- if .week }}
        <a
          href="{{ $.Site.BaseURL }}/weeks/{{ .week }}/"
          title="Class Materials"
        >
          <i class="fas fa-chalkboard-teacher fa-lg"></i>
        </a>
        {{- else }}
        <font color="f1f1f1"
          ><i class="fas fa-chalkboard-teacher fa-lg"></i
        ></font>
        {{- end }}
      </td>
    </tr>
    {{- end }} {{- end }}
  </tbody>
</table>
